<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Perfect Education with CYCU.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5E2AC575296E16AE00722D02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E2AC585296E16AF00722D02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E2AC58F296E16AF00722D02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
